<%- include('./partials/header.ejs')%>
<h1>About Page</h1>
<p>No Strings Attached is an awesome website developed in 2021 for ITIS 4166 by Zachary Rypien.<br>
Through this site, users are able to connect and share music-related events with other people sharing the same interests.<br>
Give this site a try - you might enjoy what it offers!</p>
<%- include('./partials/footer.ejs')%>