<%- include('./partials/header.ejs')%>
<h1>Welcome to No Strings Attached!</h1>
<p>
    Attend and arrange awesome music-related events to connect with others who love what you do.
    Whether you are looking for new opportunities, connecting with others, or just trying to have
    a great time, our site will do wonders for you.

    Click on connections to learn more!
</p>
<%- include('./partials/footer.ejs')%>